@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.footer {
  width: 100%;
  background: #001538;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo {
  width: 50px;
  margin-right: 10px;
}

.footer-title {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

.social-icon, .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
  margin: 0 10px;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/*======================================================== MEDIA QUERY =========================================================*/

@media (max-width: 800px) {
  .footer {
    text-align: center;
    padding: 30px 10px; 
  }

  .social-icon {
    flex-direction: column;
    gap: 15px;
  }

  .menu {
    flex-direction: column;
    gap: 15px;
  }

  .social-icon__link, .menu__link {
    font-size: 1.2rem;
  }

  .footer p {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .social-icon__link, .menu__link {
    font-size: 1rem;
  }

  .footer p {
    font-size: 0.9rem;
  }
}

@media (max-width: 390px) {
  .footer p {
    font-size: 0.8rem;
  }
  .social-icon__link, .menu__link {
    font-size: 0.9rem;
  }
  .footer-logo {
    width: 50px;
  }
}

