/*==================== MENU SUBMENU ====================*/
nav ul li ul.submenu {
    display: none; 
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    list-style-type: none;
    margin: 0;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

nav ul li:hover > ul.submenu,
nav ul li.active > ul.submenu {
    display: block;
    visibility: visible;
    opacity: 1;
}

/*==================== HEADER ====================*/
.header-content {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.logo {
    flex-grow: 0;
    margin-left: 320px;
    margin-top: 60px;
}

.logo img {
    max-width: 65px;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
    margin: 40px;
}
.logo img:hover {
    transform: scale(1.1);
    filter: grayscale(0%) invert(0%);
}

nav {
    margin: 0 0 0 480px;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #001538;
    margin-left: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 30px;
    margin-bottom: 20px;
    position: relative;
}

nav ul li a {
    color: #001538;
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    transition: color 0.3s ease;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0;
}

nav ul li a:hover {
    color: #001538;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #001538;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: right;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

nav ul li ul.submenu {
    width: 120px;
    margin-top: 2px;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

nav ul li ul.submenu li {
    padding: 5px 15px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

nav ul li ul.submenu li a {
    color: #000;
}

nav ul li ul.submenu li a:hover {
    background-color: #f1f3f6;
    color: #001538;
}

/*==================== ICONES HEADER ====================*/
.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 380px;
    gap: 15px;
    padding: 0;
    margin-top: 60px;
}

.icons a {
    margin: 0;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
    color: #001538;
}

.icons a:hover {
    color: #0056b3;
}

.login-page .icons {
    display: none !important;
}


/*==================== MEDIA QUERY ====================*/
body, html {
    overflow-x: hidden;
    max-width: 100vw;
}

.close-icon {
    display: none;
}

@media (max-width: 800px) {
    .menu-icon {
        display: block;
    }

    nav {
        display: none;
        margin: 0 0 0 0;
    }

    .logo {
        flex-grow: 1;
        text-align: center;
        margin-right: 0px;
        margin-top: 0px;
    }

    .icons a {
        display: flex;
        font-size: 20px;
    }

    #mobile-menu {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100%;
        background-color: #001538;
        z-index: 1000;
        transition: left 0.3s ease;
        padding-top: 20px;
    }

    .close-icon {
        display: block;
        position: absolute;
        right: 153px;
        top: 24px;
        font-size: 24px;
        cursor: pointer;
        color: #ffffff;
    }

    #mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 0;
        margin-top: 50px;
    }

    #mobile-menu a {
        color: #f1f3f6;
        text-align: left;
    }

    #mobile-menu ul li {
        margin-bottom: 20px;
    }

    #mobile-menu ul li a {
        font-size: 1.2rem;
        padding: 10px 15px;
    }

    #mobile-menu.open {
        left: 0;
    }

    .submenu-parent {
        display: block;
        padding-left: 0;
    }

    .submenu-toggle {
        display: block;
    }

    #mobile-menu ul li ul.submenu {
        display: none;
        position: relative;
        top: 10px;
        left: 0;
        margin-top: 0;
        opacity: 1;
        background-color: #001538;
    }

    #mobile-menu ul li.submenu-parent:hover ul.submenu,
    #mobile-menu ul li.submenu-parent.active ul.submenu {
        display: block;
        visibility: visible;
    }
}

@media (max-width: 500px) {
    .header-content {
        padding: 10px;
        height: 70px;
    }

    .menu-icon {
        font-size: 30px;
    }

    .logo img {
        max-width: 50px;
    }

    .logo {
        flex-grow: 1;
        text-align: center;
        margin-right: 60px;
        margin-top: 5px;
    }

    .icons a {
        font-size: 20px;
        margin-left: 5px;
        margin-bottom: 58px;
    }

    #mobile-menu {
        width: 200px;
    }

    #mobile-menu ul li a {
        font-size: 1rem;
    }

    .close-icon {
        font-size: 25px;
        margin-top: 0px;
    }
}

@media (max-width: 390px) {
    .header-content {
        padding: 8px;
        height: 70px;
    }

    .menu-icon {
        font-size: 25px;
    }

    .logo {
        flex-grow: 1;
        text-align: center;
        margin-right: 30px;
        margin-top: 5px;
    }

    .logo img {
        max-width: 50px;
    }

    .icons a {
        font-size: 15px;
        padding-left: 10px;
        margin-bottom: 58px;
    }

    #mobile-menu {
        width: 200px;
    }

    #mobile-menu ul li a {
        font-size: 0.9rem;
    }

    .close-icon {
        font-size: 25px;
        margin-top: -20px;
    }
}

@media (max-width: 900px) {
    .header-content {
        justify-content: space-between; 
    }

    .logo {
        text-align: center;
        margin-left: 80px;
    }

    nav ul {
        display: none;
    }

    .menu-icon {
        display: block; 
    }

    .icons {
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
        gap: 10px;
    }
}

@media (min-width: 1440px) and (max-width: 1770px) {
    .header-content {
        padding: 10px 30px;
    }

    .logo {
        justify-content: left;
        flex-grow: 0;
        margin-left: 235px;
        margin-top: 60px;
    }
    
    .logo img {
        max-width: 65px;
        transition: transform 0.3s ease, filter 0.3s ease;
        cursor: pointer;
        margin: 0px;
    }

    .menu-icon {
        font-size: 22px;
    }

    nav {
        margin: 0 0 0 350px;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .icons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
        margin-right: 240px;
        gap: 15px;
        padding: 0;
        margin-top: 60px;
    }
    
    /* Ajustes específicos para 1440x900 */
    @media (max-width: 1440px) {
        .logo {
            margin-left: 180px;
        }

        nav {
            margin: 0 0 0 250px;
        }

        .icons {
            margin-right: 150px;
        }
    }
}
