/*==================== HEADER ====================*/
.header-content {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

.logo {
    flex-grow: 0;
    margin-left: 0; /* Ajustado para 0, pois vamos usar justify-content */
    margin-top: 60px;
}

.logo img {
    max-width: 65px;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
    margin: 0; /* Removido margin para evitar espaçamento extra */
}

.logo img:hover {
    transform: scale(1.1);
    filter: grayscale(0%) invert(0%);
}

nav {
    margin: 0; /* Ajustado para 0, pois vamos usar flexbox para alinhar */
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #001538;
    margin-left: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 30px;
    margin-bottom: 20px;
    position: relative;
}

nav ul li a {
    color: #001538;
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    transition: color 0.3s ease;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0;
}

nav ul li a:hover {
    color: #001538;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #001538;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: right;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

nav ul li ul.submenu {
    width: 120px;
    margin-top: 2px;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

nav ul li ul.submenu li {
    padding: 5px 15px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

nav ul li ul.submenu li a {
    color: #000;
}

nav ul li ul.submenu li a:hover {
    background-color: #f1f3f6;
    color: #001538;
}

/*==================== ICONES HEADER ====================*/
.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0; /* Ajustado para 0, pois vamos usar flexbox */
    gap: 15px;
    padding: 0;
    margin-top: 60px;
}

.icons a {
    margin: 0;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
    color: #001538;
}

.icons a:hover {
    color: #0056b3;
}

.login-page .icons {
    display: none !important;
}

/*==================== MEDIA QUERY ====================*/
@media (max-width: 1440px) {
    .header-content {
        padding: 10px 20px;
    }

    .logo {
        margin-left: 0; /* Centralizado com flexbox */
    }

    nav {
        margin: 0; /* Centralizado com flexbox */
    }

    .icons {
        margin-right: 0; /* Centralizado com flexbox */
    }
}

@media (max-width: 900px) {
    .header-content {
        justify-content: space-between;
    }

    .logo {
        text-align: center;
        margin-left: 0;
    }

    nav ul {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .icons {
        margin-right: 10px;
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .header-content {
        padding: 10px;
        height: 70px;
    }

    .menu-icon {
        font-size: 30px;
    }

    .logo img {
        max-width: 50px;
    }

    .logo {
        margin-right: 60px;
        margin-top: 5px;
    }

    .icons a {
        font-size: 20px;
        margin-left: 5px;
        margin-bottom: 58px;
    }
}

@media (max-width: 390px) {
    .header-content {
        padding: 8px;
        height: 70px;
    }

    .menu-icon {
        font-size: 25px;
    }

    .logo {
        margin-right: 30px;
        margin-top: 5px;
    }

    .logo img {
        max-width: 50px;
    }

    .icons a {
        font-size: 15px;
        padding-left: 10px;
        margin-bottom: 58px;
    }
}
