* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.login-page {
    width: 100%;
    max-width: 400px;
    margin: 120px auto;
    padding: 15px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #092c68;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #001538;
}

.message {
    margin-top: 15px;
    font-size: 14px;
}

.message a {
    color: #001538;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .login-page {
        width: 90%;
    }

    .login-form button {
        font-size: 14px;
    }

    .message {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .login-page {
        padding: 10px;
        margin: 20px auto;
    }

    .login-form input,
    .login-form button {
        padding: 8px;
    }

    .message {
        font-size: 11px;
    }
}